/* | Grid |
============================================= */

// Griglia fluida
@if $tipo-griglia == fluid {

    // determina la width di una singola colonna
    $col-width: (100% / $cols);


    // crea la griglia
    @for $i from 1 through $cols {

        .#{$class-prefix}col--#{$i} {
            width: $col-width * $i;
            float: left;
            padding-left: ($gutter/2);
            padding-right: ($gutter/2);
        }
    }

    //pre- margin-left
    @for $i from 1 through ($cols - 1) {
        .#{$class-prefix}pre--#{$i} {
            margin-left: ($col-width * $i);
        }
    }

    //suf - margin-right
    @for $i from 1 through ($cols - 1) {
        .#{$class-prefix}suf--#{$i} {
            margin-right: ($col-width * $i);
        }
    }

}

// Griglia in pixel
@if $tipo-griglia == pixel {


    // determina la width di una singola colonna
    $col-width: ($container / $cols);


    // crea la griglia
    @for $i from 1 through $cols {

        .#{$class-prefix}col--#{$i} {
            width: $col-width * $i;
            float: left;
            padding-left: ($gutter/2);
            padding-right: ($gutter/2);
            box-sizing: box-sizing;
        }
    }

    //pre- margin-left
    @for $i from 1 through ($cols - 1) {
        .#{$class-prefix}pre--#{$i} {
            margin-left: ($col-width * $i);
        }
    }

    //suf - margin-right
    @for $i from 1 through ($cols - 1) {
        .#{$class-prefix}suf--#{$i} {
            margin-right: ($col-width * $i);
        }
    }

}

//box-sizing
@for $i from 1 through $cols {

    @include ie(8) {

        .#{$class-prefix}col--#{$i} {
            width: expression((this.parentNode.clientWidth/#{$cols/$i} - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
        }

    }

}



//row
.#{$class-prefix}row {

    margin-left: -($gutter/2);
    margin-right: -($gutter/2);

    @include clearfix;
}



//respond table
@include respond-to(medium-screens) {

    %width-full-tablet { width: 100%; }
    %width-half-tablet { width: 50%; }
    %margin-none-tablet { margin: 0; }

    //tutte le collonne al 100%
    @for $i from $cols through 7 {

        .#{$class-prefix}col--#{$i} { @extend %width-full-tablet; }
    }

    @for $i from 6 through 3 {

        .#{$class-prefix}col--#{$i} { @extend %width-half-tablet; }
    }

    @for $i from 2 through 1 {

        .#{$class-prefix}col--#{$i} { width: 33.33%; }
    }

    //settaggio colonne
    .#{$class-prefix}tablet--full { width: 100%; }
    .#{$class-prefix}tablet--1of3 { width: 33.33333%; }
    .#{$class-prefix}tablet--2of3 { width: 66.6666%; }
    .#{$class-prefix}tablet--1of2 { width: 50%; }

}

//respond phone
@include respond-to(phone) {

    %width-full { width: 100%; }
    %width-half { width: 50%; }
    %margin-none { margin: 0; }


    //tutte le collonne al 100%
    @for $i from 1 through $cols {

        .#{$class-prefix}col--#{$i} { @extend %width-full; }
    }

    //pre - margin-left annullato
    @for $i from 1 through ($cols - 1) {
        .#{$class-prefix}pre--#{$i} { @extend %margin-none; }
    }

    //suf - margin-right annullato
    @for $i from 1 through ($cols - 1) {
        .#{$class-prefix}suf--#{$i} { @extend %margin-none; }
    }

    //settaggio colonne
    .#{$class-prefix}phone--full { width: 100%; }
    .#{$class-prefix}phone--1of3 { width: 33.33333%; }
    .#{$class-prefix}{ width: 50%; }

}

//ie7
@include ie(8) {

    .#{$class-prefix}row {*zoom: expression( this.runtimeStyle.zoom="1", this.appendChild( document.createElement("span")).className="ie-after" );}
    .#{$class-prefix}row .ie-after {*zoom: expression(this.runtimeStyle['zoom'] = 'span', this.innerHTML = '&nbsp;');}

}




