/* | Helpers |
============================================= */
.float-left { float: left !important; }
.float-right { float: right !important; }

.text-left { text-align: left !important; }
.text-center { text-align: center !important; }
.text-right { text-align: right !important; }
.text-upper { text-transform: uppercase !important; }
.text-strong { font-weight: bold !important; }
.text-nowrap { white-space: nowrap !important; }

.no-padding { padding: 0; }
.no-margin { margin: 0; }

.display-none { display: none; }

.clearfix { @include clearfix; }

.ir {
    display: block;
    background-color: transparent; background-repeat: no-repeat;
    border: 0;
    text-indent: -999em; text-align: left; direction: ltr; *line-height: 0;
    overflow: hidden;
}
.ir br { display: none; }

.hidden { 
	display: none; 
	visibility: hidden; 
}
.visuallyhidden {
	position: absolute; 

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0; 

	border: 0; 
	clip: rect(0 0 0 0); 	 
	overflow: hidden; 
	
}
.visuallyhidden.focusable:active, 
.visuallyhidden.focusable:focus { 
	position: static;

	width: auto;
	height: auto;
	margin: 0;

	clip: auto; 
	overflow: visible;   
}
.invisible { visibility: hidden; }

.scroll-y { @include scroll-y; }

.overflow-hidden { overflow: hidden; }