/* | IE |
============================================= */

// IE7
@mixin ie_7 {

    @media screen\9 {
        @content;
    }

}

// IE8
@mixin ie_8 {

    @media \0screen {
        @content;
    }

}

// IE7/IE8
@mixin ie_7_8 {

    @media \0screen\,screen\9 {
        @content;
    }

}

// IE8/9
@mixin ie_8_9 {

    @media screen\0 {
        @content;
    }

}

// classi per ie assegnate a <html>
@mixin ie($ver) {

    html.lt-ie#{$ver} {

        @content;

    }

}
