/* | Media |
============================================= */

img { vertical-align: middle; }

%interno-video {

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

}

/*	| 4:3 | */
.#{$class-prefix}video--for-by-three {

    position: relative;

    width: 100%;
    height: 0px;

    padding: 35px 0 75%;

    margin: 20px 0;

    background-color: #ddd;

    div { @extend %interno-video; }
    embed { @extend %interno-video; }
    object { @extend %interno-video; }
    video { @extend %interno-video; }
    iframe { @extend %interno-video; }
    img { @extend %interno-video; }

}


/*	| 16:9 |  */
.#{$class-prefix}video--screen {

    position: relative;

    width: 100%;
    height: 0px;

    padding: 0 0 56.25%;

    margin: 20px 0;

    background-color: #ddd;

    div { @extend %interno-video; }
    embed { @extend %interno-video; }
    object { @extend %interno-video; }
    video { @extend %interno-video; }
    iframe { @extend %interno-video; }
    img { @extend %interno-video; }

}

* html .zz-video--for-by-three { margin-bottom: 45px; margi-bo\tom: 0; }
* html .zz-video--screen { margin-bottom: 45px; margi-bo\tom: 0; }
