/* | Media Query |
============================================= */

// breakpoint
$break-small: em-calc(320, 16); //320px to 20em
$break-medium: em-calc(640, 16); //640px to 40em
$break-large: em-calc(1024, 16); // 1024px to 64em
$break-landscape: landscape;
$break-portrait: portrait;

@mixin respond-to($media) {

	// phone
	@if $media == phone {
		@media only screen and (min-width: 0) and (max-width: $break-medium) { @content; }
	}

	// tablet
	@else if $media == mediumscreens {
		@media only screen and (min-width: $break-medium + 0.063 ) and (max-width: $break-large) { @content; }
	}

	// widescreens
	@else if $media == widescreens {
		@media only screen and (max-width: $break-large + 0.063) { @content; }
	}

	// desktop
	@else if $media == desktop {
		@media only screen and (min-width: $break-large + 0.063) { @content; }
	}

	// tablet landscape
	@else if $media == tablet-landscape {
		@media only screen and (min-width: $break-medium + 0.063 ) and (max-width: $break-large + 0.063) and (orientation: $break-landscape)  { @content; }
	}

	// tablet portrait
	@else if $media == tablet-portrait {
		@media only screen and (min-width: $break-medium + 0.063 ) and (max-width: $break-large + 0.063) and (orientation: $break-portrait)  { @content; }
	}

	// iPad landscape
	@else if $media == iPad-landscape {
		@media only screen and (min-width: $break-medium) and (max-width: $break-large) and (orientation: $break-landscape)  { @content; }
	}

	// iPad portrait
	@else if $media == iPad-portrait {
		@media only screen and (min-width: $break-medium) and (max-width: $break-large) and (orientation: $break-portrait)  { @content; }
	}

	// small portrait
	@else if $media == small-portrait {
		@media only screen and (min-width: $break-small) and (orientation: $break-portrait)  { @content; }
	}

	// retina
	@else if $media == retina {
		@media only screen and (-webkit-min-device-pixel-ratio :1.5),only screen and (min-device-pixel-ratio :1.5),only screen and (min-resolution:240dpi) { @content; }
	}
}


.zz-display--phone { display: none!important; }
.zz-display--tablet { display: none!important; }
.zz-display--widescreens { display: none!important; }
.zz-display--desktop { display: none!important; }


@include respond-to(phone) {

	.zz-display--phone  { display: block!important; }

}

@include respond-to(tablet) {

	.zz-display--tablet  { display: block!important; }

}

@include respond-to(widescreens) {

	.zz-display--widescreens  { display: block!important; }

}

@include respond-to(desktop) {

	.zz-display--desktop  { display: block!important; }

}


// media print
@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


