/* | Typography |
============================================= */
html {
    font-size: 62.5%;

    > body {

    }

}

body {

    color: $text-color-primary;
    @include font-family();
    @include font-size($base-font-size);
      -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;

}


/* | Headings |
============================================= */

@mixin headings {

    h1, h2, h3, h4, h5, h6 {

        @content;

    }

}

h1 {
	@include font-size(38);
}


@include headings {


}


/* | Text |
============================================= */


// selection text
::-moz-selection { background: #b3d4fc; text-shadow: none; }
::selection { background: #b3d4fc; text-shadow: none; }