
/* =============================================
** | HTML5 display definitions | **
============================================= */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}


audio:not([controls]) {
    display: none;
    height: 0;
}


[hidden] {
    display: none;
}

/* | Base |
============================================= */

html {
    font-size: 100%; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

html,
button,
input,
select,
textarea {
    font-family: sans-serif;
}


body {
    margin: 0;
}

/* | Links |
============================================= */

a:focus,
a:active,
a:hover {
    outline: 0;
}

/* | Typography |
============================================= */

h1 {
    font-weight: normal;
    margin: 0;
}

h2 {
    font-weight: normal;
    margin: 0;
}

h3 {
    font-weight: normal;
    margin: 0;
}

h4 {
    font-weight: normal;
    margin: 0;
}

h5 {
    font-weight: normal;
    margin: 0;
}

h6 {
    font-weight: normal;
    margin: 0;
}


abbr[title] {
    border-bottom: 1px dotted;
}


b,
strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 40px;
}


dfn {
    font-style: italic;
}


hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}


mark {
    background: #ff0;
    color: #000;
}


p,
pre {
    margin: 0;
}


code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}


pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}


q {
    quotes: none;

    &:before { content: ''; content: none }
    &:after { content: ''; content: none }
}

small {
    font-size: 80%;
}


sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* | Lists |
============================================= */

dl,
menu,
ol,
ul {
    margin: 1em 0;
}

dd {
    margin: 0 0 0 20px;
}

menu,
ol,
ul {
    padding: 0 0 0 20px;
}

nav ul,
nav ol {

    padding: 0;
    margin: 0;

    list-style: none;
    list-style-image: none;
}

ul,
ol {

    // list-style: none;
    // list-style-image: none;

}

/* | Embedded content |
============================================= */


img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

svg:not(:root) {
    overflow: hidden;
}

/* | Figures |
============================================= */

figure {
    margin: 0;
}

/* | Forms |
============================================= */

form {
    margin: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

button,
input {
    line-height: normal;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

button[disabled],
html input[disabled] {
    cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/* | Tables |
============================================= */


table {
    border-collapse: collapse;
    border-spacing: 0;
}
