/* | Variables |
============================================= */

// grid
$cols: 12;
$gutter: 14px;
$tipo-griglia: fluid; //fluid o pixel

$base-font-family: 'Helvetica Neue', Arial, sans-serif;
$base-px-default: 10px !default;

$class-prefix: 'zz-';

// layout
$container: 100%;

// misure
$header-h: 70px;
$aside-right-w: 64px;
$aside-left-w: 144px;

$icons-size: 24px;
$icons-circle-size: 60px;
$nav-link-size: 40px;
$touch-size: 48px;

$button-size: 36px;
$button-padding: 8px;
$button-margin: 4px;

$form-control-h: 44px;

$padding-layout: 16px;


$base-font-size: 14px;
$base-line-height: 22px;
$line-height-ratio: $base-line-height / $base-font-size;


// colors
$white: #FFF;
$black: #000;
$dark: #4e4e4e;

$color-primary: #7290A0;
$color-secondary: #B1BBC9;
$color-tertiary: #4D629F;


$border-color: #D3D9E1;

$bg-body: #FAFAFA;

$green: #4FB77A;
$red: #D21F30;
$orange: #F9C43E;

$color-icons-active: #EE2534;

// btn colors
$btn-green: #7ED321;
$btn-gray: #B1BBC9;
$btn-dark: #7290A0;

// text colors
$text-color-primary: #7290A0;
$text-color-secondary: #B1BBC9;
$text-color-black: #4E4E4E;
