/* | Buttons |
============================================= */
%generic-button {

	display: inline-block;

	height: $touch-size;
	padding: 0 1.4em;
	margin: 0;
	
	@include font-size(1.5);
	line-height: $touch-size;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	border: none;
	outline: none;
	
	border-radius: 3px;
	vertical-align: middle;
	cursor: pointer;

}

.btn {
	@extend %generic-button;

	background-color: #000;
	border-radius: 3px;

}