/* | Forms |
============================================= */

// input settings
%generic-input {

    width: 100%;
    padding: 1em;
    height: $form-control-h;
    
    background-color: $bg-body;
    border: solid 1px $border-color;
    border-radius: 3px;

    @include font-size(1.4);
    line-height: 1.42;
    vertical-align: middle;

    box-sizing: border-box;
    transition: border-color 0.15s ease-in-out;
   // @include transition-mix(border-color, 0.15s, ease-in-out);
    @include form-control-focus;
    @include placeholder {
        color: $text-color-secondary;
    }

}

// checkbox & radio settings
%checkbox-radio {
    display: none;

    & + label:before {
        display: inline-block;

        width: $form-control-h - 4;
        height: $form-control-h - 4;
        margin-right: 8px; 

        border: solid 1px $border-color;
        
        color: transparent;
        @include font-size(2);
        text-align: center;
        line-height: $form-control-h;

        content: '';
        vertical-align: middle;
        transition: all 0.2s ease-in-out;
        //@include transition-mix(all, 0.2s, ease-in-out);
    }

    &:checked {
        & + label:before {
            color: $green;
        }
    }
}



fieldset { border: 0; margin: 0; padding: 0; }
textarea { resize: vertical; }

input[type="button"],
input[type="submit"],
input[type="image"] {

    cursor: pointer;

}

::-webkit-input-placeholder {

    color: $text-color-secondary;

}

::-moz-placeholder {

    color: $text-color-secondary;

}

::-ms-input-placeholder {

    color: $text-color-secondary;

}

.placeholder {

    color: $text-color-secondary;

}

input[type="text"],
input[type="email"],
input[type="password"]:-ms-input-placeholder {

    color: $text-color-secondary;

}

input[type="text"],
input[type="email"],
input[type="password"]:-moz-placeholder {

    color: $text-color-secondary;

}


input[type="submit"] {

    @extend %generic-button;


}

input[type="reset"] {

    @extend %generic-button;

}

.vip-form-control {
    @extend %generic-input;
}

input[type="text"] {

    @extend %generic-input;

}

input[type="password"] {

    @extend %generic-input;

}

input[type="email"] {

    @extend %generic-input;

}

input[type="number"] {

    @extend %generic-input;

}

input[type="search"] {

    @extend %generic-input;

}

input[type="number"] {

    @extend %generic-input;

}

input[type="tel"] {

    @extend %generic-input;

}

input[type="date"] {

    @extend %generic-input;

}

input[type="month"] {

    @extend %generic-input;

}

input[type="time"] {

    @extend %generic-input;

}

input[type="week"] {

    @extend %generic-input;

}

input[type="datetime"] {

    @extend %generic-input;

}


// select
select {
    width: 100%;
    height: $form-control-h + 2;

    border: 0;

    color: $text-color-primary;
    @include font-size(1.4);
    box-sizing: border-box;
}

.vip-form-select {
    position: relative;

    width: 100%;
    //height: $form-control-h;

    background-color: $bg-body;
    //border: solid 1px $border-color;
    border-radius: 3px;

    //overflow: hidden;

    &:hover, &:active {
        border-color: $green;
    }

    &:after {
        display: table-cell;
        position: absolute;
        top: 1px;
        right: 1px;
        bottom: 1px;
        z-index: 1;
        
        width: $form-control-h;
        //height: $form-control-h;
        background-color: $bg-body;
        
        @include font-size(0.9);
        line-height: $form-control-h + 5;
        text-align: center;
        
        border-radius: 0 3px 3px 0;
        vertical-align: middle;
        content: '\25BC';
        pointer-events:none;
    }

    select {
        outline: none;
        padding: 0 0.8em;
        background-color: $bg-body;
        border: solid 1px$border-color;
        line-height: 1;

        @include form-control-focus;
        @include apparence-none;
        
        option {
            padding: 4px;
            color: $black;
        }
    }
}

//checkbox
input[type="checkbox"] {
    
    @extend %checkbox-radio;

    & + label:before { content: '\2713'; }

}

input[type="radio"] {
    @extend %checkbox-radio;
    
    & + label:before { content: '\25C9'; borde-radius: 50%; }

}

label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    @include font-size(1.4);
}

.vip-form {
    .vip-row {
        margin-top: $gutter;

        &:first-child {
            margin-top: 0;
        }
    }
}
